.about {
  &__title {
    @include title();
  }
  &__text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 25px; 
  }
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  &__item {
    max-width: 24%;
    margin-bottom: 35px;
  }
  &__name {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__profession {
    margin-bottom: 20px;
    color: $grey;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  &__button {
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: lightgrey;
    color: #000; 
    font-weight: 500;
    &:hover {
      background-color: $grey;
    }
  }
}

