.footer {
  padding: 15px 0;
  text-align: center;
  color: #fff;
  p {
    margin-bottom: 15px;
  }
  a {
    color: #fff;
    i {
      color: #fff;
      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.social {
  margin-bottom: 15px;
  a {
    display: inline-block;
    i {
      margin: 0;
    }
  }
}

