.header {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  bottom: 0;
  &__menu {
    ul {
      display: flex; 
    }
  }
  &:hover {
    background-color: #fff;
  }
}

.menu {
  &__item {
    list-style: none;
    width: 25%;
    text-align: center; 
  }
  &__link {
    display: inline-block;  
    width: 100%;  
    color: #000;
    padding: 8px 16px;
    &:hover {
      background-color: grey;
    }
    &--black {
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}



