.projects {
  &__title {
    @include title(40px);
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    max-width: 24%; 
    max-height: 240px; 
    margin-bottom: 20px;
    position: relative;
    img {
      width: 100%; 
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 15px;
      background-color: #000;
      color: #fff;
    }
  }
}
