@import "variables"; 
@import "mixins"; 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $mainff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

%linktmp {
  letter-spacing: 5px;
  padding: 10px 20px;
  color: #2F2F2F;
}

@import "header";
@import "projects";
@import "about";
@import "contact";
@import "footer";